<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local feed is checked first, then falls back to online -->
    <add key="Local" value="C:\Basith\MultiSelectPCF\LocalNuGetFeed" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
